@model BusinessLayer.Entity.ComponentStatus

<div class="card-box mb-30" style="padding:10px;">
    <div class="table-responsive">
        <table class="table table-bordered" style="font-size:10px; padding:0px;  margin:0px;min-width:600px;" id="tblList">
            <thead>
                <tr>
                    
                    <th style="width:150px;text-align:center;">Particulars</th>
                    <th style="width:100px;text-align:center;">Standard Cost Per M.T.</th>

                </tr>
            </thead>
            <tbody id="tbodyList">
                @for (int i = 0; i < Model.ComponentStatus_Dtl_List.Count(); i++)
                {

                    <tr id="tr_@i">
                        <td data-title="Sr.No." style="text-align: center; padding-top: 17px;">
                            <span id="spnSrNo_@i"> @(i + 1) </span>
                        </td>

                        <td data-title="Particulars">
                            @Html.TextBoxFor(model => model.ComponentStatus_Dtl_List[i].Act_Name, new { @class = "form-control cal numeric", @id = "txtAct_Name_" + i, @autocomplete = "off", @readonly = true })
                            @Html.HiddenFor(model => model.ComponentStatus_Dtl_List[i].Act_ID, new { @class = "form-control", @id = "hdnAct_ID_" + i })
                            @Html.HiddenFor(model => model.ComponentStatus_Dtl_List[i].SHH_ID, new { @class = "form-control", @id = "hdnSHH_ID_" + i })
                        </td>

                        <td data-title="Condition">
                            @Html.TextBoxFor(model => model.ComponentStatus_Dtl_List[i].CONDITION, new { @class = "form-control", @id = "txtCONDITION_" + i, @data_placeholder = "Enter Condition", @autocomplete = "off" })
                            <span id="spnErr_txtCONDITION_@i" class=" field-validation-error"></span>
                        </td>
                        <td data-title="Remarks">
                            @Html.TextBoxFor(model => model.ComponentStatus_Dtl_List[i].REMARKS, new { @class = "form-control", @id = "txtREMARKS_" + i, @data_placeholder = "Enter Remarks", @autocomplete = "off" })
                            <span id="spnErr_txtRemarks_@i" class=" field-validation-error"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.ComponentStatus_Dtl_List != null)
    {
        if (Model.ComponentStatus_Dtl_List.Count() > 0)
        {

            @Html.HiddenFor(model => model.ComponentStatus_Dtl_List[0].SH_ID, new { @class = "form-control", @id = "hdnSH_ID" })
            @Html.HiddenFor(model => model.ComponentStatus_Dtl_List[0].IS_LOCKED, new { @class = "form-control", @id = "hdnIS_LOCKED" })

        }
    }
</div>
<script src="~/FormJS/ComponentStatus.js"></script>
<script>

    $("#btnSubmit").click(function (e) {

        var errCnt = 0;
        var rowCount = $('#tbodyList tr').length;


        for (var i = 0; i < rowCount; i++) {
            var txtCONDITION_ = $('#txtCONDITION_' + i).val();
            var txtREMARKS_ = $('#txtREMARKS_' + i).val();

            if (txtCONDITION_ != '') {
                if (txtREMARKS_ === '') {
                    alert("Remarks are mandatory when Condition is entered in row " + (i + 1));
                    e.preventDefault();
                    return;
                }
            }

            if (txtCONDITION_ != '' && txtREMARKS_ != '') {
                errCnt = errCnt + 1;
            }
        }

        if (errCnt == 0) {
            $('#lblMsg').text('Please fill in at least one row of data.');
            $('#alert-modal').modal('show');
            e.preventDefault();
        }

     

    });
</script>